.siren-sdk-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 18px;
  flex-direction: row;
  margin: 0;
  line-height: 28px;
}
.siren-sdk-header-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 80px;
}
.siren-sdk-header-clear-all-text {
  margin-left: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.siren-sdk-text-break {
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
